* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

@font-face {
  font-family: poppins-ExtraLight;
  font-style: normal;
  font-weight: 200;
  src: url("../files/fonts/Poppins-ExtraLight.ttf");
}
@font-face {
  font-family: poppins-Light;
  font-style: normal;
  font-weight: 300;
  src: url("../files/fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: poppins-regular;
  font-style: normal;
  font-weight: 400;
  src: url("../files/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: poppins-semiBold;
  font-style: normal;
  font-weight: 600;
  src: url("../files/fonts/Poppins-SemiBold.ttf");
}
header {
  width: 100vw;
  height: 90px;
  background-color: #FF9F1C;
  padding: 5px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 95;
}
header .fa-solid.fa-bars {
  display: none;
}
header .fa-solid.fa-xmark {
  display: none;
}
header .menu {
  display: none;
}
header .logo img {
  width: 125px;
}
header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  transition: 0.5s;
}
header ul li a {
  color: #FDFFFC;
  font-size: 1.3rem;
  font-family: poppin-story;
  transition: 0.7s ease;
  letter-spacing: 1.2px;
}
header ul li a:hover {
  color: #7A9E7E;
}
header .menuCar {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #090C08;
  background-color: #FDFFFC;
  padding: 7px 25px;
  border-radius: 7px;
  font-size: 1.3em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 999;
}
header .menuCar span {
  padding-left: 10px;
}

@media screen and (max-width: 700px) {
  header .menu {
    display: flex;
  }
  header ul {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 65px;
    gap: 40px;
    padding: 15px;
    border-radius: 20px;
    background-color: #7A9E7E;
    z-index: 999;
  }
  header ul li a {
    color: #000;
    font-size: 1.3rem;
    font-family: poppin-story;
    transition: 0.7s ease;
    letter-spacing: 1.2px;
  }
  header ul li a:hover {
    color: #7A9E7E;
  }
  header .fa-solid.fa-bars {
    display: flex;
    position: fixed;
    right: 20px;
    top: 30px;
    font-size: 1.7rem;
    color: #090C08;
    z-index: 999;
    animation-name: alternateRotate;
    animation-duration: 1s;
  }
  header .fa-solid.fa-xmark {
    display: none;
  }
  header .menuCar {
    display: flex;
  }
}
@keyframes alternateRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.pizzaWindowArea {
  max-width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  top: 90px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.modalPizza {
  background-color: #FAF8F8;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: none;
  flex-direction: row;
  width: 1000px;
  padding: 10px;
  border-radius: 15px;
  position: fixed;
  z-index: 99;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;
}
.modalPizza .modalImg {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.modalPizza .modalImg img {
  width: 450px;
}
.modalPizza .modalInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 30px 0;
}
.modalPizza .modalInfo .modal-tamanho {
  display: flex;
  flex-direction: column;
}
.modalPizza .modalInfo .modal-tamanho .modalTamanhoCaixas {
  display: flex;
  flex-direction: row;
  max-width: 350px;
  margin-top: 5px;
}
.modalPizza .modalInfo .modal-tamanho .modalTamanhoCaixas .pizzaInfo-size span {
  color: #090C08;
  font-size: 0.8rem;
  opacity: 0.8;
}
.modalPizza .modalInfo .modal-tamanho .modalTamanhoCaixas div {
  background-color: #7A9E7E;
  padding: 8px 3px;
  width: 100%;
  color: #090C08;
  font-family: poppins-semiBold;
  cursor: pointer;
  transition: 0.5s;
}
.modalPizza .modalInfo .modal-tamanho .modalTamanhoCaixas .selected {
  background-color: #FF9F1C;
}
.modalPizza .modalInfo .modal-tamanho .modalTamanhoCaixas :first-child {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.modalPizza .modalInfo .modal-tamanho .modalTamanhoCaixas :last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.modalPizza .modalPrice {
  display: flex;
  flex-direction: column;
}
.modalPizza .modalPrice div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 350px;
  margin-top: 5px;
}
.modalPizza .modalPrice div .price {
  font-size: 1.4rem;
  font-family: poppins-semiBold;
}
.modalPizza .modalPrice div .qtCaixa {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2px 15px;
  border-radius: 15px;
  gap: 15px;
}
.modalPizza .modalPrice div .qtCaixa .btn-menos, .modalPizza .modalPrice div .qtCaixa .btn-mais {
  font-size: 1.3rem;
  background-color: transparent;
  cursor: pointer;
}
.modalPizza .modalPrice div .qtCaixa .qt {
  font-size: 1.3rem;
  font-family: poppins-semiBold;
}
.modalPizza .modalBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.modalPizza .modalBtn .add-carrinho {
  background-color: #FF9F1C;
  padding: 18px 25px;
  border-radius: 20px;
  margin-right: 15px;
  font-size: 1.2rem;
  color: #FDFFFC;
  font-family: poppins-ExtraLight;
}
.modalPizza .modalBtn .cancel {
  font-size: 1.1rem;
  font-family: poppins-Light;
}

.infoModal {
  color: #090C08;
  font-size: 1.1rem;
  opacity: 0.5;
}

@media screen and (max-width: 700px) {
  .modalPizza {
    background-color: #FAF8F8;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    position: fixed;
    z-index: 99;
    transform: translate(-50%, -50%);
    transition: 0.5s ease;
  }
  .modalPizza .modalImg {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .modalPizza .modalImg img {
    width: 70%;
  }
  .modalPizza .modalInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 0;
  }
  .modalPizza .modalInfo .modal-tamanho {
    display: flex;
    flex-direction: column;
  }
  .modalPizza .modalInfo .modal-tamanho .modalTamanhoCaixas {
    display: flex;
    flex-direction: row;
    max-width: 250px;
    margin-top: 5px;
  }
  .modalPizza .modalInfo .modal-tamanho .modalTamanhoCaixas .pizzaInfo-size span {
    color: #090C08;
    font-size: 0.6rem;
    opacity: 0.8;
  }
  .modalPizza .modalInfo .modal-tamanho .modalTamanhoCaixas div {
    background-color: #7A9E7E;
    padding: 8px 3px;
    width: 100%;
    color: #090C08;
    font-family: poppins-semiBold;
    cursor: pointer;
    transition: 0.5s;
    font-size: 0.7rem;
  }
  .modalPizza .modalInfo .modal-tamanho .modalTamanhoCaixas .selected {
    background-color: #FF9F1C;
  }
  .modalPizza .modalInfo .modal-tamanho .modalTamanhoCaixas :first-child {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }
  .modalPizza .modalInfo .modal-tamanho .modalTamanhoCaixas :last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
  .modalPizza .modalPrice {
    display: flex;
    flex-direction: column;
  }
  .modalPizza .modalPrice div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 250px;
    margin-top: 5px;
  }
  .modalPizza .modalPrice div .price {
    font-size: 1.1rem;
    font-family: poppins-semiBold;
  }
  .modalPizza .modalPrice div .qtCaixa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2px 15px;
    border-radius: 15px;
    gap: 13px;
  }
  .modalPizza .modalPrice div .qtCaixa .btn-menos, .modalPizza .modalPrice div .qtCaixa .btn-mais {
    font-size: 1.3rem;
    background-color: transparent;
    cursor: pointer;
  }
  .modalPizza .modalPrice div .qtCaixa .qt {
    font-size: 1.3rem;
    font-family: poppins-semiBold;
  }
  .modalPizza .modalBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .modalPizza .modalBtn .add-carrinho {
    background-color: #FF9F1C;
    padding: 14px 20px;
    border-radius: 20px;
    margin-right: 15px;
    font-size: 0.8rem;
    color: #FDFFFC;
    font-family: poppins-ExtraLight;
  }
  .modalPizza .modalBtn .cancel {
    font-size: 0.8rem;
    font-family: poppins-Light;
  }
  .infoModal {
    color: #090C08;
    font-size: 0.9rem;
    opacity: 0.5;
  }
}
.modelPizza {
  display: none;
}

.pizzaItem {
  margin-top: 50px;
  background-color: #FAF8F8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
}
.pizzaItem .pizzaItem-price {
  margin-top: 25px;
  font-family: poppins-Light;
  color: #090C08;
  font-size: 1.1rem;
}
.pizzaItem .pizzaItem-name {
  font-family: poppins-semiBold;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.pizzaItem .pizzaItem-description {
  font-family: poppins-Light;
  color: #090C08;
  text-align: center;
}
.pizzaItem .pizzaItemImg {
  max-width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.pizzaItem .pizzaItemImg a {
  background-color: #7A9E7E;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 1.6rem;
  color: #FDFFFC;
  position: absolute;
  bottom: -13px;
}

@media screen and (max-width: 700px) {
  .pizzaItem-name {
    font-family: poppins-semiBold;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-align: center;
  }
}
aside {
  background-color: #FF9F1C;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 0px;
  z-index: 98;
  transition: 0.5s;
}
aside h1 {
  font-family: poppins-semiBold;
}
aside div {
  padding: 20px;
  position: relative;
}
aside .subTotal, aside .desconto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #090C08;
}
aside .total {
  font-family: poppins-semiBold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-bottom: 30px;
  padding: 10px 0;
}
aside button {
  width: 100%;
  height: 60px;
  font-size: 1.4rem;
  font-family: poppins-Light;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: transparent;
}
aside .carVolte {
  font-family: poppins-semiBold;
  text-align: center;
  font-size: 1.3em;
  color: #7A9E7E;
  padding: 10px;
  right: 50%;
  display: none;
}

.pizzaCart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0;
  margin: 25px 0;
}
.pizzaCart .pizzaCart-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  padding: 0;
  gap: 5px;
}
.pizzaCart .pizzaCart-info span {
  font-family: poppins-regular;
  text-transform: uppercase;
}
.pizzaCart .pizzaCart-info img {
  width: 50px;
}
.pizzaCart .pizzaCart-qt {
  background-color: #FDFFFC;
  width: 90px;
  height: 35px;
  border-radius: 20px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.pizzaCart .pizzaCart-qt .cartQt-menos, .pizzaCart .pizzaCart-qt .cartQt-mais {
  cursor: pointer;
}

.carModel {
  padding: 0;
}

@media screen and (max-width: 700px) {
  aside {
    background-color: #FF9F1C;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 0px;
    z-index: 98;
    transition: 0.5s;
  }
  aside > div {
    position: relative;
  }
  aside > div .carVolte {
    display: inline-block;
    font-family: poppins-semiBold;
    font-size: 1.3em;
    color: #7A9E7E;
    padding: 10px;
    right: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }
}
body {
  font-family: poppins-Light;
  background-color: #FDFFFC;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  width: 100%;
}/*# sourceMappingURL=style.css.map */