aside{
    background-color: $color-orange;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 0px;
    z-index: 98;
    transition: 0.5s;
    h1{
        font-family: poppins-semiBold;
    }

    div{
        padding: 20px;
        position: relative;
    }

    .subTotal, .desconto{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 10px 0;
        border-bottom: 1px solid $black-primary;
    }

    .total{
        font-family: poppins-semiBold;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.5rem;
        margin-bottom: 30px;
        padding: 10px 0;
    }

    button{
        width: 100%;
        height: 60px;
        font-size: 1.4rem;
        font-family:  poppins-Light;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: transparent;
        
    }

    .carVolte{
        font-family: poppins-semiBold;
        text-align: center;
        font-size: 1.3em;
        color: $color-blue;
        padding: 10px;
        right: 50%;
        display: none;
    }

}



.pizzaCart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0;
    margin: 25px 0;


    .pizzaCart-info{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
        padding: 0;
        gap: 5px;

        span{
            font-family: poppins-regular;
            text-transform: uppercase;
        }

        img{
            width: 50px;
        }
    }

    .pizzaCart-qt{
        background-color: $white-primary;
        width: 90px;
        height: 35px;
        border-radius: 20px;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 17px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        .cartQt-menos, .cartQt-mais{
            cursor: pointer;
        }
    }
    
}


.carModel{
    padding: 0;
}



@media screen and (max-width: 700px){
    aside{
        background-color: $color-orange;
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        width: 0px;
        z-index: 98;
        transition: 0.5s;
    }

    aside>div{
        position: relative;
        .carVolte{
            display: inline-block;
            font-family: poppins-semiBold;
            font-size: 1.3em;
            color: $color-blue;
            padding: 10px;
            right: 0;
            margin-left: 50%;
            transform: translateX(-50%);
            cursor: pointer;
        }
    }
}