@font-face {
    font-family: poppins-ExtraLight;
    font-style: normal;
    font-weight: 200;
    src: url('../files/fonts/Poppins-ExtraLight.ttf');
}
@font-face {
    font-family: poppins-Light;
    font-style: normal;
    font-weight: 300;
    src: url('../files/fonts/Poppins-Light.ttf');
}
@font-face {
    font-family: poppins-regular;
    font-style: normal;
    font-weight: 400;
    src: url('../files/fonts/Poppins-Regular.ttf');
}
@font-face{
    font-family: poppins-semiBold;
    font-style: normal;
    font-weight: 600;
    src: url('../files/fonts/Poppins-SemiBold.ttf')
}